.title {
  font-weight: var(--font-weight-extra-bold);
  font-size: var(--font-size-xxl);
  margin: var(--space-xs) 0;
}

.title span {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xl);
  color: var(--primary);
  display: block;
}

.hero {
  font-size: var(--font-size-xxxl);
  line-height: var(--line-height-xxs);
}

.hero span {
  font-size: var(--font-size-xxl);
  line-height: 32px;
}

@media screen and (min-width: 1024px) {
  .title {
    font-weight: var(--font-weight-extra-bold);
    font-size: var(--font-size-xxxl);
    margin: initial;
  }

  .title span {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-xxl);
    color: var(--primary);
    display: block;
  }

  .hero {
    font-size: var(--font-size-heading);
    line-height: var(--line-height-xxxs);
  }

  .hero span {
    font-size: var(--font-size-heading-subtitle);
    line-height: 64px;
  }
}
