.container {
  min-height: 420px;
}

.background {
  background: url("../../assets/graphics/rectangle-bg.svg") center no-repeat;
  z-index: var(--z-index-bg-2);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-height: 420px;
}

.title {
  color: var(--white);
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xxl);
  margin: 0 auto;
  border-bottom: 4px solid var(--primary);
  width: fit-content;
  padding-top: 125px;
}

.description {
  color: var(--white);
  font-family: var(--font-montserrat);
  font-size: var(--font-size-xl);
  line-height: 100%;
  text-align: center;
  margin: var(--space-lg) auto;
  max-width: 600px;
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: var(--font-size-heading-subtitle);
  }
}
