.container {
  padding: var(--space-sm);
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-md);
}

.imageContainer {
  display: none;
}

.form {
  margin-top: var(--space-md);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.formRow {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--space-sm);
  width: 100%;
}

.formRow label {
  font-weight: var(--font-weight-bold);
}

.formRow input {
  padding: var(--space-xs);
  border: 1px solid var(--input-border);
  border-radius: var(--border-radius-lg);
}

.button {
  background-color: var(--primary);
  color: var(--white);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-xxs);
  padding: 1rem 2.5rem;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .imageContainer {
    display: block;
    max-width: 231px;
    max-height: 231px;
  }

  .form {
    max-width: 40%;
  }

  .button {
    margin-top: var(--space-lg);
    width: 80%;
  }
}
